<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Awto">
        <activity android:name=".Sample2"></activity>
        <activity android:name=".SearchBookings" />
        <activity android:name=".SignUpCustomerActivity" />
        <activity android:name=".BrowseCustomerActivity" />
        <activity android:name=".BrowseActivity" />
        <activity android:name=".Destination4" />
        <activity android:name=".Destintation3" />
        <activity android:name=".Destination2" />
        <activity android:name=".Destination1" />
        <activity android:name=".BookATrip4" />
        <activity android:name=".BookATrip3" />
        <activity android:name=".BookATrip2" />
        <activity android:name=".CustomerAccount" />
        <activity android:name=".Destination" />
        <activity android:name=".LandingPageDriver" />
        <activity android:name=".DriverApplicationForm" />
        <activity android:name=".DriverAccount" />
        <activity android:name=".DriverRatingsReviews" />
        <activity android:name=".DriverTransaction" />
        <activity android:name=".BookATrip" />
        <activity android:name=".Driver4" />
        <activity android:name=".Driver3" />
        <activity android:name=".Driver2" />
        <activity android:name=".Driver1" />
        <activity android:name=".BrowseDriver" />
        <activity android:name=".sample" />
        <activity android:name=".VehicleActivity" />
        <activity android:name=".AboutUs" />
        <activity android:name=".LandingPage" />
        <activity android:name=".CustomerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>